body{
    
}

#banner{
    width: 100%;
}

.principal{
    background-color: #CCCCCC;
}

h1{
    text-align: center;
}

p{ 
    text-align: center; 
}

em strong{
    color: #f00;
}

#mision{
    font-size: 20px;
    font-style: italic;
}

.diferenciales{
    background-color: #FFFFFF;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}

