body{
    background-color: #CCCCCC;
}

#banner{
    width: 100%;
}

h1{
    text-align: center;
}

p{ 
    text-align: center; 
}

em strong{
    color: #f00;
}

#mision{
    font-size: 20px;
    font-style: italic;
}

.items{
    font-style: italic;
}